

<form #frm="ngForm" (submit)="send(frm)">
  <span>firstname: </span><input type="text" ngModel name="firstname" required/><br/>
  <span class="error" *ngIf="frm.controls['firstname']?.errors && frm.controls['firstname']?.dirty">campo richiesto</span><br/>
  <span>lastname: </span><input type="text" ngModel name="lastname" required minlength="5"/><br/>
  <span class="error" *ngIf="lastnameError(frm, 'required') && frm.controls['lastname']?.dirty">campo richiesto<br/></span>
  <span class="error" *ngIf="lastnameError(frm, 'minlength') && frm.controls['lastname']?.dirty">lunghezza minima non valida<br/></span>
  <input type="submit" value="Invia" [disabled]="false">
</form>

<button (click)="setDefault()">click</button>


<pre>touched: {{frm.controls['lastname']?.touched}}</pre>
<pre>pristine: {{frm.controls['lastname']?.pristine}}</pre>
<pre>untouched: {{frm.controls['lastname']?.untouched}}</pre>
<pre>dirty: {{frm.controls['lastname']?.dirty}}</pre>
